<%= form_with(model: tema, local: true) do |form| %>
  <% if tema.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tema.errors.count, "error") %> prohibited this tema from being saved:</h2>

      <ul>
      <% tema.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :materium_id_id %>
    <%= form.text_field :materium_id_id, id: :tema_materium_id_id %>
  </div>

  <div class="field">
    <%= form.label :post_id_id %>
    <%= form.text_field :post_id_id, id: :tema_post_id_id %>
  </div>

  <div class="field">
    <%= form.label :evaluacion %>
    <%= form.text_area :evaluacion, id: :tema_evaluacion %>
  </div>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo, id: :tema_titulo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
