<p id="notice"><%= notice %></p>

<h1>Temas</h1>

<table>
  <thead>
    <tr>
      <th>Materium</th>
      <th>Post</th>
      <th>Evaluacion</th>
      <th>Titulo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temas.each do |tema| %>
      <tr>
        <td><%= tema.materium_id %></td>
        <td><%= tema.post_id %></td>
        <td><%= tema.evaluacion %></td>
        <td><%= tema.titulo %></td>
        <td><%= link_to 'Show', tema %></td>
        <td><%= link_to 'Edit', edit_tema_path(tema) %></td>
        <td><%= link_to 'Destroy', tema, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tema', new_tema_path %>
