<p id="notice"><%= notice %></p>

<p>
  <strong>Materium:</strong>
  <%= @tema.materium_id %>
</p>

<p>
  <strong>Post:</strong>
  <%= @tema.post_id %>
</p>

<p>
  <strong>Evaluacion:</strong>
  <%= @tema.evaluacion %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @tema.titulo %>
</p>

<%= link_to 'Edit', edit_tema_path(@tema) %> |
<%= link_to 'Back', temas_path %>
