.container
  .row.card
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!
      .row
        .col.s12
          .input-field.col.s12
            %i.material-icons.prefix account_circle
            = f.email_field :email
            %label{:for=>"email"} Correo electrónico
          .input-field.col.s12
            %i.material-icons.prefix fingerprint
            = f.password_field :password
            %label{:for=>"password"} Contraseña
          .input-field.col.s12
            %i.material-icons.prefix fingerprint
            = f.password_field :password_confirmation
            %label{:for=>"password_confirmation"} Repita contraseña
        .col.s12.center
          -if devise_mapping.rememberable?
            = f.check_box :remember_me
            = f.label :remember_me
        .col.s12.center
          = f.submit t('.sign_up', :default => "Sign up"), :class=> "waves-effect waves-light btn" 
        .col.s12.center
          = render "devise/shared/links"
