<%= form_with(model: ejercicio, local: true) do |form| %>
  <% if ejercicio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ejercicio.errors.count, "error") %> prohibited this ejercicio from being saved:</h2>

      <ul>
      <% ejercicio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tema_id_id %>
    <%= form.text_field :tema_id_id, id: :ejercicio_tema_id_id %>
  </div>

  <div class="field">
    <%= form.label :consigna %>
    <%= form.text_area :consigna, id: :ejercicio_consigna %>
  </div>

  <div class="field">
    <%= form.label :respuesta %>
    <%= form.text_field :respuesta, id: :ejercicio_respuesta %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
