<p id="notice"><%= notice %></p>

<h1>Ejercicios</h1>

<table>
  <thead>
    <tr>
      <th>Tema</th>
      <th>Consigna</th>
      <th>Respuesta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ejercicios.each do |ejercicio| %>
      <tr>
        <td><%= ejercicio.tema_id %></td>
        <td><%= ejercicio.consigna %></td>
        <td><%= ejercicio.respuesta %></td>
        <td><%= link_to 'Show', ejercicio %></td>
        <td><%= link_to 'Edit', edit_ejercicio_path(ejercicio) %></td>
        <td><%= link_to 'Destroy', ejercicio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ejercicio', new_ejercicio_path %>
