<p id="notice"><%= notice %></p>

<p>
  <strong>Tema:</strong>
  <%= @ejercicio.tema_id %>
</p>

<p>
  <strong>Consigna:</strong>
  <%= @ejercicio.consigna %>
</p>

<p>
  <strong>Respuesta:</strong>
  <%= @ejercicio.respuesta %>
</p>

<%= link_to 'Edit', edit_ejercicio_path(@ejercicio) %> |
<%= link_to 'Back', ejercicios_path %>
