.parallax-container
  .parallax
    =image_tag("parallax.jpg")
  %h3.center Bienvenido a Ludere

:javascript
  $(document).ready(function(){
    $('.parallax').parallax();
  });
.container
  .row.center
    En este sitio encontrarás, de manera gratuita, recursos didácticos para aprender distintas disciplinas, aplicaciones para docentes y publicaciones de divulgación científica y tecnológica.
  .divider
  .row
    .col.s12.m4
      .card.blue-grey.darken.1
        .card-content.white-text
          %span.card-title Álgebra y Aritmética
          %p Esta es una descripción breve lalalalalal alalal alalal.
        .card-action
          %a Ir
    .col.s12.m4
      .card
        .card-content
          %span.card-title Asssdd
          %p Esta es una descripción breve lalalalalal alalal alalal.
        .card-action
          %a Ir
    .col.s12.m4
      .card
        .card-content
          %span.card-title Asdasdsd
          %p Esta es una descripción breve lalalalalal alalal alalal.
        .card-action
          %a Ir
