.container
  .row.card
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      .row
        .col.s12
          .input-field.col.s6
            %i.material-icons.prefix account_circle
            = f.email_field :email
            %label{:for=>"email"} Correo electrónico
          .input-field.col.s6
            %i.material-icons.prefix fingerprint
            = f.password_field :password
            %label{:for=>"password"} Contraseña
        .col.s12.center
          -if devise_mapping.rememberable?
            = f.check_box :remember_me
            = f.label :remember_me
        .col.s12.center
          = f.submit t('.sign_in', :default => "Sign in"), :class=> "waves-effect waves-light btn" 
        .col.s12.center
          = render "devise/shared/links"
