/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree
 *= require_self
 */
 @import "materialize/components/color";
$primary-color: color("teal", "base") !default;
$secondary-color: color("green", "lighten-4") !default;
@import "materialize";
@import url('https://fonts.googleapis.com/css?family=Quicksand');

.marco{
	padding:30px;
	font-family: 'Quicksand', sans-serif;
	text-align: justify;

}
.datapub {
    text-align: end;
    padding-top: 15px;
    text-transform: uppercase;
    font-size: small;
    i.material-icons{
        font-size: small;
    }
}